In [32]:
import pandas as pd
import numpy as np

In [418]:
x = [['A','B', None, None],
     ['B','C', None, None],
     ['A','B','C','D']]

In [429]:
df = pd.DataFrame(x)
uniques = []
for i in df.columns:
    temp = df[i].unique()
    for j in temp:
        if j not in uniques and j is not None:
            uniques.append(j)
temp = pd.DataFrame()

for item in uniques:
    col_list = []
    for column in df.columns:
        temp[item + str(column)] = np.where(df[column] == item, 1, 0)
        col_list.append(item + str(column))
    temp[item] = temp[col_list].sum(axis=1)
    temp = temp.drop(col_list, axis=1)
df = pd.concat([df,temp], axis=1, join='inner')

In [427]:
df

   0  1     2     3  A  B  C  D
0  A  B  None  None  1  1  0  0
1  B  C  None  None  0  1  1  0
2  A  B     C     D  1  1  1  1