In [1]:
import pandas as pd

In [23]:
df = pd.DataFrame([['A','B','C','D','E','F','G'],['D','A','B',None,None,None,None],['A','C','E',None,None,None,None],['C',None,None,None,None,None,None]], columns=['Cat0','Cat1','Cat2','Cat3','Cat4','Cat5','Cat6'])

In [24]:
df

  Cat0  Cat1  Cat2  Cat3  Cat4  Cat5  Cat6
0    A     B     C     D     E     F     G
1    D     A     B  None  None  None  None
2    A     C     E  None  None  None  None
3    C  None  None  None  None  None  None

In [19]:
df['A'] = 1

In [20]:
df

   A  B  C  D  E  F  G
0  1  B  C  D  E  F  G
1  1  A  B  4  5  6  7
2  1  C  E  4  5  6  7
3  1  2  3  4  5  6  7

In [21]:
df['A'] = 2

In [22]:
df

   A  B  C  D  E  F  G
0  2  B  C  D  E  F  G
1  2  A  B  4  5  6  7
2  2  C  E  4  5  6  7
3  2  2  3  4  5  6  7